apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: backend-policy
  namespace: backend-ns
spec:
  podSelector: { matchLabels: { app: backend } }
  ingress:
  - from:
    - namespaceSelector: { matchLabels: { name: frontend-ns } }
    ports: [{ port: 5000 }]
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: db-redis-policy
  namespace: db-storage-ns
spec:
  podSelector: {}
  ingress:
  - from:
    - namespaceSelector: { matchLabels: { name: backend-ns } }
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress
  namespace: frontend-ns
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  tls:
  - hosts: [ {{ .Values.global.domain }} ]
    secretName: tls-secret
  rules:
  - host: {{ .Values.global.domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: { name: frontend-service, port: { number: 80 } }